[submodule "submods/android-switch-backport"]
	path = submods/android-switch-backport
	url = https://github.com/rock3r/android-switch-backport
[submodule "android-switch-backport"]
	path = android-switch-backport
	url = C:\\Users\\fpontillo\\Workspace\\FWeather\\submods\\android-switch-backport
