<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright 2014 Sebastiano Poggi and Francesco Pontillo
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="net.frakbot.FWeather">

  <uses-feature android:name="android.hardware.type.watch" />

  <application
    android:allowBackup="true"
    android:icon="@drawable/ic_launcher"
    android:label="@string/app_name"
    android:theme="@android:style/Theme.DeviceDefault">

    <meta-data
      android:name="com.google.android.gms.version"
      android:value="@integer/google_play_services_version" />

    <activity android:name="net.frakbot.fweather.LaunchActivity">

      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

    </activity>

    <activity
      android:name="net.frakbot.fweather.WeatherActivity"
      android:label="@string/voice_command"
      android:allowEmbedded="true"
      android:exported="true"
      android:taskAffinity=""
      android:launchMode="singleTop"
      android:theme="@android:style/Theme.DeviceDefault.Light">

    </activity>

    <activity android:name="android.support.wearable.activity.ConfirmationActivity" />

    <service android:name="net.frakbot.fweather.WearService">
      <intent-filter>
        <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
      </intent-filter>
    </service>

  </application>

</manifest>
